* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: #1EAEDB;
  text-decoration: none;
}

a:hover {
  color: #1EAEDB;
  text-decoration: underline;
}

.app {
  padding-top: 20px;
  max-width: 800px;
}

.alert {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.search-form {
  margin-bottom: 20px;
}

.search-loading {
  color: #aaa;
}

.search-venue:first-child {
  border-top: 1px solid #eee;
}

.search-venue {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.search-venue-name {
  font-size: 1.5rem;
}

.search-venue-address1,
.search-venue-address2,
.search-venue-categories {
  color: #aaa;
  font-size: 0.8rem;
}
